[Unit]
Description=redis
After=docker.service
Requires=docker.service

[Service]
Restart=always
TimeoutStartSec=5
RestartSec=5
ExecStartPre=-/usr/bin/docker kill redis
ExecStartPre=/usr/bin/docker pull redis
ExecStartPre=/bin/sh -c \
	"docker history redis:latest >/dev/null || \
	docker pull redis:latest"

ExecStart=/usr/bin/docker run --rm \
    --name redis \
    -v /data:/data \
    -p 6379:6379 \
    redis

ExecStop=/usr/bin/docker stop redis

SyslogIdentifier=redis
